@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-ibm: var(--font-ibm-plex-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm-plex-sans), Arial, Helvetica, sans-serif;
}

@keyframes scroll {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-33.333%); }
}

/* .animate-scroll-slow { animation: scroll 16s linear infinite; }
.animate-scroll-fast { animation: scroll 11s linear infinite;
   animation-delay: -10s;; } */

.animate-scroll {
animation: scroll 20s linear infinite;
animation-delay: -10s; /* starts halfway through */
}

.animate-scroll-delay {
animation: scroll 20s linear infinite;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@keyframes toastSlideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-toast-slide-in {
  animation: toastSlideIn 0.3s ease-out forwards;
}